In [1]:
import pandas as pd

In [2]:
import numpy as np

In [10]:
df =pd.DataFrame({"month" :[6,7,8,9,10,11,12,21,22,23,24],"fee":[43.61,56.27,46.09,39.27,37.96,105.75,147.97,243.52,153.17,159.89,86.07]})

In [11]:
print(df)

       fee  month
0    43.61      6
1    56.27      7
2    46.09      8
3    39.27      9
4    37.96     10
5   105.75     11
6   147.97     12
7   243.52     21
8   153.17     22
9   159.89     23
10   86.07     24

In [12]:
df['/4'] = df['fee']/4

In [13]:
df

       fee  month       /4
0    43.61      6  10.9025
1    56.27      7  14.0675
2    46.09      8  11.5225
3    39.27      9   9.8175
4    37.96     10   9.4900
5   105.75     11  26.4375
6   147.97     12  36.9925
7   243.52     21  60.8800
8   153.17     22  38.2925
9   159.89     23  39.9725
10   86.07     24  21.5175

In [17]:
a = df['/4'].sum()

In [18]:
print(a)

279.8925

In [22]:
b = df['/4'][6:11]

In [24]:
print(b.sum())

197.65499999999997

In [25]:
c = df['/4'][8:11]

In [26]:
print(c.sum())

99.78249999999998

In [27]:
d = df['/4'][4:11]

In [28]:
print(d.sum())

233.58249999999998